# require review 
/dao-programs/**/* @builderdao/core
/token-scripts/ @builderdao/core


# Prevent unreviewed lock files beign merge to main.  
/tutorials/**/builderdao.lock.json  @builderdao/reviewer