@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: 'Larken';
  src: url('/assets/fonts/larken/Larken-Regular.otf');
}

@font-face {
  font-family: 'Larken Italic';
  src: url('/assets/fonts/larken/Larken-Italic.otf');
}

@font-face {
  font-family: 'Larken Extra Bold';
  src: url('/assets/fonts/larken/Larken-ExtraBold.otf');
}

@font-face {
  font-family: 'Larken Extra Bold Italic';
  src: url('/assets/fonts/larken/Larken-ExtraBoldItalic.otf');
}

input[type='text']:focus {
  box-shadow: none;
}
