@font-face {
  font-family: 'Larken';
  src: url('/assets/fonts/larken/Larken-Regular.otf');
}

@font-face {
  font-family: 'Larken Italic';
  src: url('/assets/fonts/larken/Larken-Italic.otf');
}

@font-face {
  font-family: 'Larken Extra Bold';
  src: url('/assets/fonts/larken/Larken-ExtraBold.otf');
}

@font-face {
  font-family: 'Larken Extra Bold Italic';
  src: url('/assets/fonts/larken/Larken-ExtraBoldItalic.otf');
}

@font-face {
  font-family: 'Space Mono Bold';
  src: url('/assets/fonts/SpaceMono/SpaceMono-Bold.ttf');
}

@font-face {
  font-family: 'Space Mono Bold Italic';
  src: url('/assets/fonts/SpaceMono/SpaceMono-BoldItalic.ttf');
}

@font-face {
  font-family: 'Space Mono Italic';
  src: url('/assets/fonts/SpaceMono/SpaceMono-Italic.ttf');
}

@font-face {
  font-family: 'Space Mono';
  src: url('/assets/fonts/SpaceMono/SpaceMono-Regular.ttf');
}

input[type='text']:focus {
  box-shadow: none;
}
